div.about-section{
  background-color: $main-black;
  padding-bottom: 20px;
  img {
    height: auto;
    max-width: 35%;
    min-width: 250px;
    float: right;
  }
}

div.about-box {
  min-height: 90vh;
  margin-top: 20px;
  text-align: center;
  background-color: $sidebar-black;
  padding: 20px 0;
}

//
// // SMARTPHONES PORTRAIT
// @media only screen and (min-width: 300px) {
// }
//
// // SMARTPHONES LANDSCAPE
// @media only screen and (min-width: 480px) {
// }
//
// // TABLETS  PORTRAIT
// @media only screen and (min-width: 768px) {
// }
//
// // TABLET LANDSCAPE / DESKTOP
// @media only screen and (min-width: 1024px) {
// }
