.footerbar {
  height: 100px;
  background-color: white;
  div {
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center;
    i {
      margin: 5px 10px;
      font-size: 35px;
      color: black;
    }
  }
}
