div.main-section{
  min-height: 600px;
  background-color: green;
  margin-top: 30px;
}

img.profile-pic {
  min-height: auto;
  max-width: 30%;
  float: right;
}

img.main-head-img {
  min-height: auto;
  max-width: 100%;
}
