// SMARTPHONES PORTRAIT
@media only screen and (min-width: 300px) {
  h1.animation-header {
    position: absolute;
    color: #E6D550;
    top: 35%;
    left: 10%;
    font-family: 'tradegothiclt-bold', sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: bold;
    max-width: 80%;
  }
}

// SMARTPHONES LANDSCAPE
@media only screen and (min-width: 480px) {
  h1.animation-header {
    position: absolute;
    color: #E6D550;
    top: 35%;
    left: 10%;
    font-family: 'tradegothiclt-bold', sans-serif;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
    max-width: 80%;
  }
}

// TABLETS  PORTRAIT
@media only screen and (min-width: 768px) {
  h1.animation-header {
    position: absolute;
    color: #E6D550;
    top: 35%;
    left: 10%;
    font-family: 'tradegothiclt-bold', sans-serif;
    text-transform: uppercase;
    font-size: 5em;
    font-weight: bold;
    max-width: 80%;

  }
}

// TABLET LANDSCAPE / DESKTOP

@media only screen and (min-width: 1024px) {
  h1.animation-header {
    position: absolute;
    color: #E6D550;
    top: 35%;
    left: 10%;
    font-family: 'tradegothiclt-bold', sans-serif;
    text-transform: uppercase;
    font-size: 6em;
    font-weight: bold;
    max-width: 80%;
  }

}

div.main-section{
  min-height: 600px;
  // background-color: green;
  background-color: $main-black;
  margin-top: 30px;
}

img.profile-pic {
  height: auto;
  max-width: 35%;
  min-width: 230px;
  float: right;
}

.main-head-img {
  opacity: 0.7;
}


//*****section height*******

img.view-height {
  max-height: 100vh;
  // min-width: 100%;
  width: auto;
  overflow-x: hidden;
}


div.main-top-section {
  position: relative;
}


span.blinking {
  border-right: .05em solid white;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}
