div.main-section{
  min-height: 600px;
  background-color: green;
  margin-top: 30px;
}

img.profile-pic {
  width: 500px;
  float: right;
}

img.main-head-img {
  min-height: 800px;
  width: 100%;
}
