.navBar {
  background-color: $nav-bar !important;
  height: 50px;
  a {
    color: #D0DEE9;
  }
  div ul li {
    height: 100%;
  }
}

.section-link {
  font-size: 14px;
}

.full-navbar {
  // position: absolute;
  // bottom: 0;
}
