// SMARTPHONES PORTRAIT
@media only screen and (min-width: 300px) {
  .navBar {
    text-align: center;
    background-color: white !important;
    min-height: 50px;
    img {
      width: 25%;
      min-width: 200px;
    }
    li {
      float: none;
      display: inline-block;
      &:hover {
        background-color: #EBEBEC;
      }
      padding-right: 20px;
      padding-left: 20px;
    }
    a {
      color: #151718;
      &:hover {
        cursor: pointer;
      }
    }
    div.container-fluid {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    .fa {
      font-size: 35px;
      color: #151718;
      margin-top: 5px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

// SMARTPHONES LANDSCAPE
@media only screen and (min-width: 480px) {
  .navBar {
    text-align: center;
    background-color: white !important;
    min-height: 50px;
    li {
      float: none;
      display: inline-block;
      &:hover {
        background-color: #EBEBEC;
      }
      padding-left: 20px;
      padding-right: 20px;
    }
    a {
      color: #151718;
      &:hover {
        cursor: pointer;
      }
    }
    div.container-fluid {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    .fa {
      font-size: 35px;
      color: #151718;
    }
  }
}

// TABLETS  PORTRAIT
@media only screen and (min-width: 768px) {
  .navBar {
    text-align: center;
    background-color: white !important;
    height: 50px;
    li {
      float: none;
      display: inline-block;
      &:hover {
        background-color: #EBEBEC;
      }
      padding-right: 0px;
      padding-left: 0px;
    }

    // li{
    //   &:hover {
    //     background-color: #EBEBEC;
    //   }
    //   padding-right: 0px;
    // }
    a {
      color: #151718;
      &:hover {
        cursor: pointer;
      }
    }
    div.container-fluid {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    .fa {
      font-size: 35px;
      color: #151718;
    }
  }
}

// TABLET LANDSCAPE / DESKTOP
@media only screen and (min-width: 1024px) {
  .navBar {
    text-align: center;
    background-color: white !important;
    height: 50px;
    li {
      float: none;
      display: inline-block;
      &:hover {
        background-color: #EBEBEC;
      }
      padding-right: 0px;
      padding-left: 0px;
    }

    // li{
    //   &:hover {
    //     background-color: #EBEBEC;
    //   }
    //   padding-right: 0px;
    // }
    a {
      color: #151718;
      &:hover {
        cursor: pointer;
      }
    }
    div.container-fluid {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    .fa {
      font-size: 35px;
      color: #151718;
    }
  }
}

div.full-navbar {

}
div.center-logo-we {
  // display: inline-block !important;
}
div.navbar-header {
  margin-left: 10px !important;
}

.section-link {
  font-size: 14px;
}

a.dropdown-link {
  padding: 5px 0;
  display: block;
  text-align: center;
  &:hover{
    text-decoration: none;
    background-color: #EBEBEC;
  }
}

//********colour bar**********
div.spacer-nav {
  float: left;
  height: 10px;
  width: 5%;
}
div.spacer-black {
  float: left;
  height: 10px;
  width: 60%;
  background-color: #151718;
}
div.spacer-halfblack {
  float: left;
  height: 10px;
  width: 30%;
  background-color: #151718;
}

div.spacer-yellow {
  background-color: #E6D550;
}
div.spacer-green {
  background-color: #A6E22E;
}
div.spacer-blue {
  background-color: #5CD0EF;
}
div.spacer-pink {
  background-color: #F92672;
}

.active {
  background-color: #EBEBEC;
}
