div.projects-section{
  min-height: 600px;
  background-color: $main-black;
}

// ************* tile styling ****************

img.project-img {
  width: 100%;
  height: auto;
  margin-top: 15px;
}

div.project-image-left {
  overflow: hidden;
  height: 100%;
}

div.project-4 {
  background-color: $main-black;
}

div.project-tile {
  background-color: $sidebar-black;
  padding: 10px 0;
}

//*********text styling**********

.text-small {
  font-size: 26px;
}



// *********images********
//<img src="https://s3-eu-west-1.amazonaws.com/wdi-30-ldn/wdi-project-4/README/AdobeXD_screenshot_05_12_17.jpg" alt="image02" className="project-img"/>
//<img src="https://s3-eu-west-1.amazonaws.com/wdi-30-ldn/wdi-project-4/README/Trello_Screenshot_06_12_17.jpg" alt="image03" className="project-img"/>
//<img src="https://s3-eu-west-1.amazonaws.com/wdi-30-ldn/wdi-project-4/README/initial_sketch1.jpg" alt="image04" className="project-img"/>
//<img src="https://s3-eu-west-1.amazonaws.com/wdi-30-ldn/wdi-project-4/README/screenshot_combined.jpg" alt="image05" className="project-img"/>
//<img src="https://s3-eu-west-1.amazonaws.com/wdi-30-ldn/wdi-project-4/README/screenshot_comments_rating.jpg" alt="image06" className="project-img"/>
//<img src="https://s3-eu-west-1.amazonaws.com/wdi-30-ldn/wdi-project-4/README/screenshot_profile.png" alt="image07" className="project-img"/>
//<img src="https://s3-eu-west-1.amazonaws.com/wdi-30-ldn/wdi-project-4/README/screenshot_usersshow.png" alt="image08" className="project-img"/>
