div.projects-section{
  min-height: 600px;
  background-color: $main-black;
  padding-bottom: 50px;
}

// ************* tile styling ****************


div.project-4 {
  background-color: $main-black;
}

div.project-tile {
  background-color: $sidebar-black;
  padding: 10px 0 20px 0;
  margin-bottom: 10px;
  div.projects-icons-box {
    text-align: center;
    margin-top: 20px;
    i {
      font-size: 45px;
      padding: 2px;
      word-wrap: break-word;
    }
  }
}
//**********image styling*********

img.project-img {
  width: 100%;
  // max-width: 300px;
  margin-top: 15px;
  opacity: 1;
  // display: block;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

div.project-image-left {
  overflow: hidden;
  height: 100%;
}

.img-middle-layer {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

div.img-container:hover .project-img {
  opacity: 0.3;
}
div.img-container:hover .img-middle-layer {
  opacity: 1;
}
div.img-text-layer {
  background-color: $font-pink;
  color: white;
  font-size: 20px;
  padding: 16px 32px;
}

//*********text styling**********

.text-small {
  font-size: 23px;
}
