aside {
  padding-top: 40px;
  ul {
    list-style: none;
    a:hover {
      text-decoration: none;
    }
  }
  nav {
    z-index: 100000;
  }
  .fa {
    font-size: 40px;
  }
}

.ga-icon {
  width: 30px;
}
