div.skills-section {
  background-color: $main-black;
}

div.skills-box {
  min-height: 90vh;
  margin-bottom: 20px;
  text-align: center;
  background-color: $sidebar-black;
}

// SMARTPHONES PORTRAIT
@media only screen and (min-width: 300px) {
  div.skills-box {
    i {
      display: inline-block;
      font-size: 60px;
      color: $font-blue;
      padding: 20px;
      word-wrap: break-word;
    }
  }
}

// SMARTPHONES LANDSCAPE
@media only screen and (min-width: 480px) {
  div.skills-box {
    i {
      display: inline-block;
      font-size: 80px;
      color: $font-blue;
      padding: 20px;
      word-wrap: break-word;
    }
  }
}

// TABLETS  PORTRAIT
@media only screen and (min-width: 768px) {
  div.skills-box {
    i {
      display: inline-block;
      font-size: 100px;
      color: $font-blue;
      padding: 20px;
      word-wrap: break-word;
    }
  }
}

// TABLET LANDSCAPE / DESKTOP
@media only screen and (min-width: 1024px) {
  div.skills-box {
    i {
      display: inline-block;
      font-size: 120px;
      color: $font-blue;
      padding: 20px;
      word-wrap: break-word;
    }
  }
}
