$nav-bar: #2C6C9B;
$nav-bar-highlight: #C5631B;
$font-blue: #5CD0EF;
$font-pink: #F92672;
$font-green: #A6E22E;
$font-yellow: #E6D550;
$font-white: #F8F8F2;
$main-black: #151718;
$sidebar-black: #111314;

@import "navBar";
@import "main";
@import "about";
@import "contact";
@import "projects";
@import "sidebar";
@import "footerbar";
@import "projectindividual";
@import "skills";

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}


h1.heading {
  display: none;
}

div.container-fliud {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

//*******heading styling*******

.span-white {
  color: $font-white;
}
.span-blue {
  color: $font-blue;
}
.span-yellow {
  color: $font-yellow;
}
.span-pink {
  color: $font-pink;
}
.span-green {
  color: $font-green;
}

//*******font styling*******
.small-font {
  font-size: 18px;
}
// .large-font {
//   font-size: 160%;
// }
// .medium-font {
//   font-size: 140%;
// }
// .normal-font {
//   font-size: 22px;
// }
// .xl-font {
//   font-size: 200%;
//   font-weight: 100;
// }
.center-text {
  text-align: center;
}
.uppercase {
  text-transform: uppercase;
}

//*******spacing*********
.margin-bottom-50 {
  margin-bottom: 50px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-top-20 {
  margin-top: 20px;
}

//********body styling******
// SMARTPHONES PORTRAIT
@media only screen and (min-width: 300px) {
  div#body-all-padding{
    padding: 0 30px;
  }
  .medium-font {
    font-size: 90%;
  }
  .normal-font {
    font-size: 18px;
  }
  .xl-font {
    font-size: 150%;
    font-weight: 100;
  }
  .large-font {
    font-size: 160%;
  }
}

// SMARTPHONES LANDSCAPE
@media only screen and (min-width: 480px) {
  div#body-all-padding{
    padding: 0 30px;
  }
  .medium-font {
    font-size: 110%;
  }
  .normal-font {
    font-size: 18px;
  }
  .xl-font {
    font-size: 180%;
    font-weight: 100;
  }
  .large-font {
    font-size: 160%;
  }
}
// TABLETS  PORTRAIT
@media only screen and (min-width: 768px) {
  div#body-all-padding{
    padding: 0 20px;
  }
  .medium-font {
    font-size: 120%;
  }
  .normal-font {
    font-size: 20px;
  }
  .xl-font {
    font-size: 200%;
    font-weight: 100;
  }
  .large-font {
    font-size: 160%;
  }
}

// TABLET LANDSCAPE / DESKTOP
@media only screen and (min-width: 1024px) {
  div#body-all-padding{
    padding: 0 20px;
  }
  .medium-font {
    font-size: 120%;
  }
  .normal-font {
    font-size: 22px;
  }
  .xl-font {
    font-size: 200%;
    font-weight: 100;
  }
  .large-font {
    font-size: 210%;
  }
}
